PORT =YOUR-PORT
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
MONGODB_URI=your-mongodb-connection-string
GOOGLE_CLIENT_ID=your-google-client-id
JWT_SECRET_KEY=your-secret-key
GOOGLE_USER_INFO_URL=GOOGLE_USER_INFO_URL
EMAIL_FROM=your_email
BREVO_API_KEY=your_api_key
GROQ_API_KEY=your_groq_api_key