PORT =YOUR-PORT
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
MONGODB_URI=your-mongodb-connection-string
GOOGLE_CLIENT_ID=your-google-client-id
JWT_SECRET_KEY=your-secret-key
GOOGLE_USER_INFO_URL=GOOGLE_USER_INFO_URL
SMTP_HOST=your_smtp_host
SMTP_PORT=smtp_port
SMTP_USER=smtp_user@smtp-brevo.com
SMTP_PASS=your_smtp_key
EMAIL_FROM=your_email