.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.menu-container {
    display: flex;
    align-items: center;
    gap: 20px;
}



.menu-link {
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile-icon {
    margin-top: 8px;
}