.skill-chip {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    margin: 2px;
    border-radius: 6px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
}

.green {
    background: #DCFCE7;
    color: #166534;
}

.yellow {
    background: #FEF3C7;
    color: #92400E;
}

.red {
    background: #FEE2E2;
    color: #B91C1C;
}